-
    var menuItems = [{'name': 'home', 'link': './'},
        {'name': 'about us', 'link': 'about-us.html'},
        {'name': 'industry', 'link': 'industry.html'},
        {'name': 'services', 'link': 'services.html'},
        {'name': 'pages', 'link': './'},
        {'name': 'contact us', 'link': 'contact us.html'}]
-
    var submenuItems = [{'name': '404', 'link': '404.html'},
        {'name': 'blog', 'link': 'blog.html'},
        {'name': 'blog post', 'link': 'blog-post.html'},
        {'name': 'careers', 'link': 'careers.html'},
        {'name': 'faq', 'link': 'faq.html'},
        {'name': 'pricing', 'link': 'pricing.html'},
        {'name': 'team', 'link': 'team.html'},
        {'name': 'testimonials', 'link': 'testimonials.html'}]
header.header
    .header__top
        .container
            .header__contacts
                .header__email Email :
                    a.header__link(href="mailto:info@consultplus.com") info@consultplus.com
                .header__phone Phone :
                    a.header__link(href="tel:+91 5685 6664 555") +91 5685 6664 555
    .header__bottom
        .container
            .header__main
                a.header__logo(href="./")
                    img(src="static/images/general/logo.png", alt="logo")
                nav.header__menu.menu
                    ul.menu__list
                        for menuItem in menuItems
                            if menuItem.name === 'pages'
                                li.menu__item.menu__dropdown
                                    a.menu__link(href=menuItem.link)=menuItem.name
                                    ul.menu__submenu
                                        for submenuItem in submenuItems
                                            li.menu__subitem
                                                a.menu__sublink(href=submenuItem.link)=submenuItem.name
                            else
                                li.menu__item
                                    a.menu__link(href=menuItem.link)=menuItem.name
