include ../../utils/mixins

.industries
    .container
        h3.industries__subtitle supporting
        h2.industries__title industries
        .industries__list
            .industries__item
                .industries__icon
                    +icon('icon_business-industry', 'industries')
                .industries__info
                    h4.industries__name business
                    p.industries__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.
            .industries__item
                .industries__icon
                    +icon('icon_education-industry', 'industries')
                .industries__info
                    h4.industries__name education
                    p.industries__description Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still.
            .industries__item
                .industries__icon
                    +icon('icon_technology-industry', 'industries')
                .industries__info
                    h4.industries__name technology
                    p.industries__description There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .industries__item
                .industries__icon
                    +icon('icon_real-estate-industry', 'industries')
                .industries__info
                    h4.industries__name real estate
                    p.industries__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            .industries__item
                .industries__icon
                    +icon('icon_telecommunication-industry', 'industries')
                .industries__info
                    h4.industries__name telecommunication
                    p.industries__description Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.
            .industries__item
                .industries__icon
                    +icon('icon_banking-industry', 'industries')
                .industries__info
                    h4.industries__name banking
                    p.industries__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.
            .industries__item
                .industries__icon
                    +icon('icon_law-industry', 'industries')
                .industries__info
                    h4.industries__name law
                    p.industries__description Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.
            .industries__item
                .industries__icon
                    +icon('icon_construction-industry', 'industries')
                .industries__info
                    h4.industries__name construction
                    p.industries__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.
        .industries__buttons
            a.industries__btn(href="#") request a free consultation
