section.positions
    .container
        h3.positions__subtitle opening
        h2.positions__title positions
        .positions__list
            .positions__item
                .positions__heading
                    .positions__number 1
                    .positions__name account manager
                .positions__vacancies vacancy: 8
                .positions__salary Salary range : $ 22-80 k
                a.positions__btn(href="#") apply now
            .positions__item
                .positions__heading
                    .positions__number 2
                    .positions__name Computer & information system manager
                .positions__vacancies vacancy: 15
                .positions__salary Salary range : $ 30-100 k
                a.positions__btn(href="#") apply now
            .positions__item
                .positions__heading
                    .positions__number 3
                    .positions__name sales executive
                .positions__vacancies vacancy: 1
                .positions__salary Salary range : $ 10-25 k
                a.positions__btn(href="#") apply now
            .positions__item
                .positions__heading
                    .positions__number 4
                    .positions__name education consultants
                .positions__vacancies vacancy: 4
                .positions__salary Salary range : $ 100-150 k
                a.positions__btn(href="#") apply now
            .positions__item
                .positions__heading
                    .positions__number 5
                    .positions__name system engineers
                .positions__vacancies vacancy: 22
                .positions__salary Salary range : $ 30-100 k
                a.positions__btn(href="#") apply now
