section.about
    .container
        .about__container
            .about__text
                .about__headings
                    h3.about__subtitle What we are
                    h2.about__title About us
                p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                a.about__btn(href="#") read more
            .about__image
                img(src="static/images/content/about/about.jpg" alt="about us")
                .about__badge.badge
                    .badge__inner
                        .badge__years 25
                        .badge__description year of excellence
