section.contact-us
    .container
        h3.contact-us__subtitle for consulting
        h2.contact-us__title contact us
        .contact-us__list
            .contact-us__item
                svg.contact-us__image
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_email")
                .contact-us__info
                    .contact-us__type email
                    .contact-us__contact info@consultplus.com
            .contact-us__item
                svg.contact-us__image
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_call")
                .contact-us__info
                    .contact-us__type call us
                    .contact-us__contact +91 8879 8767 990
            .contact-us__item
                svg.contact-us__image
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_career")
                .contact-us__info
                    .contact-us__type career
                    .contact-us__contact consult@career.com
