section.projects
    .container
        h3.projects__subtitle Featured
        h2.projects__title Projects
        .projects__list
            .projects__item.project
                a.project__link(href="#")
                    img.project__img(src="static/images/content/projects/project-1.jpg")
                    .project__industry Banking
                    .project__info
                        h3.project__title project title
                        p.project__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra interdum fringilla. Sed eget ullamcorper felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .project__triangle
            .projects__item.project
                a.project__link(href="#")
                    img.project__img(src="static/images/content/projects/project-2.jpg")
                    .project__industry Education
                    .project__info
                        h3.project__title project title
                        p.project__description Lorem Ipsum is simply dummy text of the printing and...
                    .project__triangle
            .projects__item.project
                a.project__link(href="#")
                    img.project__img(src="static/images/content/projects/project-3.jpg")
                    .project__industry Technology
                    .project__info
                        h3.project__title project title
                        p.project__description Lorem Ipsum is simply dummy text of the printing and...
                    .project__triangle
            .projects__item.project
                a.project__link(href="#")
                    img.project__img(src="static/images/content/projects/project-4.jpg")
                    .project__industry Real estate
                    .project__info
                        h3.project__title project title
                        p.project__description Lorem Ipsum is simply dummy text of the printing and...
                    .project__triangle
        a.projects__btn(href="#") full projects
