section.testimonials
    .container
        h3.testimonials__subtitle happy clients
        h2.testimonials__title testimonials
        .testimonials__list
            .testimonials__item
                p.testimonials__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type special book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.
            .testimonials__item
                p.testimonials__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type special book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.
            .testimonials__item
                p.testimonials__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type special book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.
        .testimonials__clients
            .testimonials__client.client
                .client__image
                    img(src="static/images/content/testimonials/client-1.png", alt="client 1")
                .client__info
                    .client__name client name
                    .client__company Designation
            .testimonials__client.client
                .client__image
                    img(src="static/images/content/testimonials/client-2.png", alt="client 2")
                .client__info
                    .client__name client name
                    .client__company Designation
            .testimonials__client.client
                .client__image
                    img(src="static/images/content/testimonials/client-3.png", alt="client 3")
                .client__info
                    .client__name client name
                    .client__company Designation
