section.our-blog
    .our-blog__container
        .our-blog__content
            header.our-blog__header
                .our-blog__headings
                    .our-blog__subtitle news
                    .our-blog__title our blog
                .our-blog__controls
                    a.our-blog__control(href="#") top posts
                    a.our-blog__control(href="#") check all posts
            .our-blog__body
                a.our-blog__post.post(href="#")
                    .post__meta February 20, 2016
                    .post__title Blog Heading here Business
                    .post__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                a.our-blog__post.post(href="#")
                    .post__meta February 22, 2016
                    .post__title many variations of passages of Ipsum
                    .post__description Established fact that a reader will be distracted by the readable of a page when looking at its layout. The point of using Lorem...
                a.our-blog__post.post(href="#")
                    .post__meta February 25, 2016
                    .post__title Internet tend to repeat predefined
                    .post__description Popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages...
    .our-blog__image

