section.steps
    .container
        h3.steps__subtitle Our
        h2.steps__title Steps
        .steps__list
            .steps__item.step
                svg.step__icon
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_step-one")
                .step__number 01
                .step__title Choose your industry
                .step__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
            .steps__item.step
                svg.step__icon
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_step-two")
                .step__number 02
                .step__title Choose your service
                .step__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
            .steps__item.step
                svg.step__icon
                    use(xlink:href="static/images/svg/symbol/sprite.svg#icon_step-three")
                .step__number 03
                .step__title Boost your business
                .step__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
