$color-link-fb: #3b5998;
$color-link-tw: #50abf1;
$color-link-gp: #dc4b3f;

.management {
  padding: 0 0 100px;

  &__container {
    padding-top: 100px;
    border-top: 1px solid $color-blue-light;
  }

  &__title {
    @include title();
  }

  &__subtitle {
    @include subtitle();
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    grid-column-gap: 30px;
    margin-top: 40px;
  }

  &__buttons {
    text-align: center;
    margin-top: 75px;
  }

  &__btn {
    @include button();
  }
}

.member {
  display: flex;

  &__image {
    max-width: 113px;
    max-height: 113px;
    margin-right: 25px;
  }

  &__name {
    @include title-text();
    margin-top: 0;
  }

  &__position {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-main;
    margin-top: 5px;
  }

  &__description {
    @include description-text();
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 1rem;
    border-top: 1px solid $color-blue-light;
  }
  
  &__link {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.1s ease-out;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      opacity: 0.7;
    }

    &--fb {
      color: $color-link-fb;
    }

    &--tw {
      color: $color-link-tw;
    }

    &--gp {
      color: $color-link-gp;
    }
  }
}
