.questions
    .questions__container.container
        .questions__list
            h3.questions__subtitle general
            h2.questions__title questions
            .questions__item
                .questions__heading
                    .questions__number 1
                    .questions__name Lorem Ipsum is simply dummy text of the printing?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 2
                    .questions__name Readable content of a page when looking at its layout?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 3
                    .questions__name Suspendisse mattis leo non neque bibendum semper?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 4
                    .questions__name Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 5
                    .questions__name Mauris dictum purus ac dui efficitur, sed interdum ligula blandit?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 6
                    .questions__name Phasellus eget erat aliquet, egestas odio eget, laoreet augue?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .questions__item
                .questions__heading
                    .questions__number 7
                    .questions__name Cras pharetra velit eu pretium viverra?
                .questions__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        .questions__feedback
            h3.questions__subtitle didn't find an
            h2.questions__title answer
            form.questions__form
                label.questions__label
                    input.questions__input(type="text", id="name", name="name", placeholder="name")
                label.questions__label
                    input.questions__input(type="email", id="email", name="email", placeholder="email")
                label.questions__label
                    textarea.questions__input.questions__textarea(name="questions", placeholder="questions")
                input.questions__label.questions__btn(type="submit", value="submit now")
