$color-item-border: #e1eaec;

.contact-us {
  padding: 100px 0;

  &__title {
    @include title();
  }

  &__subtitle {
    @include subtitle();
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 40px 30px;
    border: 1px solid $color-item-border;
    transition: 0.2s ease-out;

    &:hover {
      background: #f7f7f7;
      transform: scale(1.03);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  &__image {
    max-width: 58px;
    max-height: 58px;
    margin-right: 40px;
  }

  &__type {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-title;
    margin-bottom: 0.5rem;
  }

  &__contact {
    font-size: 1.125rem;
    font-family: 'Domine', Arial, sans-serif;
    color: $color-title;
  }
}
