section.not-found
    .not-found__container.container
        h1.not-found__header
            | 4
            svg.not-found__image
                use(xlink:href="static/images/svg/symbol/sprite.svg#icon_sad")
            | 4
        .not-found__info
            h3.not-found__subtitle oops
            h2.not-found__title sorry
            p.not-found__description The Page you are looking for cannot be found.
            a.not-found__btn(href="./") Back to home page
