include ../../utils/mixins

section.services
    .container
        h3.services__subtitle our
        h2.services__title services
        .services__list
            .services__item
                +icon('icon_service-business', 'services')
                .services__heading business consultation
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-rocket', 'services')
                .services__heading boost local business
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-moneybank', 'services')
                .services__heading accounting
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-analysis', 'services')
                .services__heading data analyzing
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-security', 'services')
                .services__heading data security
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-analytics', 'services')
                .services__heading data & ht analytics
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-training', 'services')
                .services__heading training
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-goals', 'services')
                .services__heading achieve goals
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-transfer-pricing', 'services')
                .services__heading transfer pricing
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-hammer', 'services')
                .services__heading techno - legal services
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-helmet', 'services')
                .services__heading construction management
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-support', 'services')
                .services__heading online support
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-recruitment', 'services')
                .services__heading recruitment services
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-placement', 'services')
                .services__heading placement services
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            .services__item
                +icon('icon_service-education', 'services')
                .services__heading education consulting
                .services__description Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or randomised.
        .services__buttons
            a.services__btn(href="#") request a free consultation
