extends template/content-page

block variables
    - var title = 'About Us | Consult Plus'
    - var bannerTitle = 'About Us'
    - var pageClass = 'about-us-page'

block content
    include pages/about-us/about-us-single
    include pages/about-us/core-values
    include pages/about-us/mission
