extends template/content-page

block variables
    - var title = 'Blog | Consult Plus'
    - var bannerTitle = 'Blog'
    - var pageClass = 'blog-page'

block content
    include pages/blog/blog-general
