extends template/content-page

block variables
    - var title = 'Careers | Consult Plus'
    - var bannerTitle = 'Careers'
    - var pageClass = 'careers-page'

block content
    include pages/careers/careers-section
    include pages/careers/positions
