extends template/content-page

block variables
    - var title = 'Contact Us | Consult Plus'
    - var bannerTitle = 'Contact Us'
    - var pageClass = 'contact-us-page'

block content
    include pages/contact-us/connect
