extends template/content-page

block variables
    - var title = 'FAQ | Consult Plus'
    - var bannerTitle = 'FAQ'
    - var pageClass = 'faq-page'

block content
    include pages/faq/questions
    include pages/faq/help
