extends template/template

block variables
    - var title = 'Home | Consult Plus'
    - var pageClass = 'index-page'

block content
    include pages/home/banner
    include pages/home/about-us
    include pages/home/steps
    include pages/home/projects
    include pages/home/testimonials
    include pages/home/our-blog
    include pages/home/contact-us
