extends template/template

block variables
    - var title = 'Home | Consult Plus'
    - var pageClass = 'index-page'

block content
    include modules/banner
    include modules/about-us
    include modules/steps
    include modules/projects
    include modules/testimonials
    include modules/our-blog
    include modules/contact-us
