extends template/content-page

block variables
    - var title = 'Industry | Consult Plus'
    - var bannerTitle = 'Industry'
    - var pageClass = 'industry-page'

block content
    include pages/industry/industries
    include pages/industry/featured-projects
