extends template/content-page

block variables
    - var title = 'Pricing | Consult Plus'
    - var bannerTitle = 'Pricing'
    - var pageClass = 'pricing-page'

block content
    include pages/pricing/plans
