extends template/content-page

block variables
    - var title = 'Services | Consult Plus'
    - var bannerTitle = 'Services'
    - var pageClass = 'services-page'

block content
    include pages/services/our-services
    include modules/featured-projects/featured-projects
