extends template/content-page

block variables
    - var title = 'Team | Consult Plus'
    - var bannerTitle = 'Team'
    - var pageClass = 'team-page'

block content
    include pages/team/leadership
    include pages/team/teams
