extends template/content-page

block variables
    - var title = 'Testimonials | Consult Plus'
    - var bannerTitle = 'Testimonials'
    - var pageClass = 'testimonials-page'

block content
    include pages/testimonials/clients-row
    include pages/testimonials/clients-column
