// Colors
$color-white: #ffffff;
$color-dark: #262829;
$color-main: #898e8f;
$color-title: #343a3b;
$color-gray: #727779;
$color-orange: #ffac56;
$color-green: #16d428;
$color-blue: #03b6e7;
$color-blue-dark: #00a6d3;
$color-blue-light: #e7eff1;

// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1170px;

// Fonts
