.about-us-single
    .about-us-single__container.container
        .about-us-single__info
            h3.about-us-single__subtitle what we do
            h2.about-us-single__title about us
            .about-us-single__text
                .about-us-single__left-column Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .about-us-single__right-column  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions.

        .about-us-single__image
            .about-us-single__badge.badge
                .badge__inner
                    .badge__years 25
                    .badge__description year of excellence
                    .badge__years 650
                    .badge__description happy clients
