section.mission
    .container
        .mission__list
            .mission__item
                h3.mission__subtitle our
                h2.mission__title vision
                img.mission__image(src="static/images/content/mission/vision.jpg", alt="our vision")
                .mission__description Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
            .mission__item
                h3.mission__subtitle our
                h2.mission__title mission
                img.mission__image(src="static/images/content/mission/mission.jpg", alt="our mission")
                .mission__description Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
        .mission__buttons
            a.mission__btn(href="./contact-us.html") contact us
