include ../../utils/mixins

section.contacts
    .contacts__container.container
        .contacts__locations.locations
            h3.contacts__subtitle our
            h2.contacts__title locations
            .locations__list
                .locations__item
                    h3.locations__title london
                    .locations__description
                        .locations__address Diegem, Belgium
                        .locations__email info@Truckplus.com
                        .locations__phone +91 8856 5555 136
                        +icon('icon_location-map', 'locations', '-map')
                .locations__item
                    h3.locations__title vancouver
                    .locations__description
                        .locations__address 24 Lever Street
                        .locations__address GB - Manchester, M1 1DZ
                        .locations__email info@vancouver.com
                        .locations__phone +91 8856 5555 136
                        +icon('icon_location-map', 'locations', '-map')
                .locations__item
                    h3.locations__title Philadelphia
                    .locations__description
                        .locations__address Opposed Using, uncover
                        .locations__email info@Truckplus.com
                        .locations__phone +91 5585 9624  5555
                        +icon('icon_location-map', 'locations', '-map')
                .locations__item
                    h3.locations__title Washington, D. C
                    .locations__description
                        .locations__address Lipsum street, Belgium
                        .locations__address Second crose , 9th road
                        .locations__email info@Truckplus.com
                        .locations__phone +91 2654 5586 9986
                        +icon('icon_location-map', 'locations', '-map')
                .locations__item
                    h3.locations__title Washington, D. C
                    .locations__description
                        .locations__address Lipsum street, Belgium
                        .locations__email info@Truckplus.com
                        .locations__phone +91 2654 5586 9986
                        +icon('icon_location-map', 'locations', '-map')
        .contacts__follow-us.follow-us
            h3.contacts__subtitle social media
            h2.contacts__title follow us
            .follow-us__list
                a.follow-us__item(href="#")
                    .follow-us__title facebook
                    +icon('icon_facebook', 'follow-us', '-icon')
                a.follow-us__item(href="#")
                    .follow-us__title twitter
                    +icon('icon_twitter', 'follow-us', '-icon')
                a.follow-us__item(href="#")
                    .follow-us__title instagram
                    +icon('icon_instagram', 'follow-us', '-icon')
                a.follow-us__item(href="#")
                    .follow-us__title linkedin
                    +icon('icon_linkedin', 'follow-us', '-icon')
                a.follow-us__item(href="#")
                    .follow-us__title google+
                    +icon('icon_google-plus', 'follow-us', '-icon')
