$color-border-bottom: #dae4e6;

.positions {
  padding: 100px 0;
  background: $color-blue-light;

  &__title {
    @include title();
  }

  &__subtitle {
    @include subtitle();
  }

  &__list {
    margin-top: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-title;
    transition: 0.2s ease-out;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border-bottom;
    }

    &:hover {
      transform: translateX(5px);
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    flex: 4;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background: $color-green;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 18px;
  }

  &__vacancies {
    flex: 1;
  }

  &__salary {
    flex: 2;
  }

  &__btn {
    flex: 1;
    text-align: center;
    max-width: 135px;
    @include button();
  }
}
