section.leadership
    .container
        h3.leadership__subtitle our
        h2.leadership__title leadership
        .leadership__list
            .leadership__item
                img.leadership__image(src="static/images/content/leadership/head-1.jpg", alt="first head")
                .leadership__info
                    header.leadership__heading
                        h4.leadership__name john marshel
                        .leadership__position ceo
                    p.leadership__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model.
                    .leadership__social
                        +member-social
            .leadership__item
                img.leadership__image(src="static/images/content/leadership/head-2.jpg", alt="second head")
                .leadership__info
                    header.leadership__heading
                        h4.leadership__name mariya jonsena
                        .leadership__position co-founder
                    p.leadership__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model.
                    .leadership__social
                        +member-social
            .leadership__item
                img.leadership__image(src="static/images/content/leadership/head-3.jpg", alt="third head")
                .leadership__info
                    header.leadership__heading
                        h4.leadership__name tom smith
                        .leadership__position team lead
                    p.leadership__description Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model.
                    .leadership__social
                        +member-social

