section.plans
    .container
        h3.plans__subtitle our
        h2.plans__title pricing plans
        .plans__list
            .plans__item.plan
                header.plan__heading
                    .plan__monthly-fee #[span.plan__blue-text 100$] / month
                    .plan__name basic plan
                    ul.plan__list
                        li.plan__item Duis commodo mollis
                        li.plan__item Nam aliquet sagittis
                        li.plan__item Fusce eleifend lectus
                footer.plan__footer
                    a.plan__btn(href="#") choose plan
            header.plans__item.plan
                .plan__heading
                    .plan__monthly-fee #[span.plan__blue-text 150$] / month
                    .plan__name silver plan
                    ul.plan__list
                        li.plan__item Duis commodo mollis
                        li.plan__item Nam aliquet sagittis
                        li.plan__item Fusce eleifend lectus
                        li.plan__item Etiam pulvinar elementum
                footer.plan__footer
                        a.plan__btn(href="#") choose plan
            header.plans__item.plan
                .plan__heading
                    .plan__monthly-fee #[span.plan__blue-text 200$] / month
                    .plan__name gold plan
                    ul.plan__list
                        li.plan__item Duis commodo mollis
                        li.plan__item Nam aliquet sagittis
                        li.plan__item Fusce eleifend lectus
                        li.plan__item Etiam pulvinar elementum
                footer.plan__footer
                     a.plan__btn(href="#") choose plan
            header.plans__item.plan
                .plan__heading
                    .plan__monthly-fee #[span.plan__blue-text 300$] / month
                    .plan__name platinum plan
                    ul.plan__list
                        li.plan__item Duis commodo mollis
                        li.plan__item Nam aliquet sagittis
                        li.plan__item Fusce eleifend lectus
                        li.plan__item Etiam pulvinar elementum
                        li.plan__item Nulla congue arcu pulvinar
                footer.plan__footer
                    a.plan__btn(href="#") choose plan
