mixin icon(name,section)
	if(section)
		svg(class=section + "__image")
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="image")
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
